<div class="text-center" id="footer">
      <p><span class="btn btn btn-light">@Html.ActionLink("Home", "Index", "Home")</span> | <span class="btn btn btn-light">@Html.ActionLink("Account / Login", "Index", "Account")</span></p>
</div>