@{
  Layout = "_Layout";
}

@using PierresTreats.Models;
@model IEnumerable<PierresTreats.Models.Treat>

<h1>@User.Identity.Name's Treats</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</li>
    }
  </ul>
} 
else
{
  <h3>You haven't added any of your own treats yet!</h3>
}

<p>@Html.ActionLink("Add new treat!", "Create")</p>