header {
  border-bottom: solid;
}

#mainLogo {
  font-family: Arial, Helvetica, sans-serif;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 5rem;
}

#footer {
  position: fixed;
  bottom: 1.25rem;
  width: 100%;
  height: 2.5rem;
  border-top: solid;
}

#sidebar {
  float: left;
  border: solid;
  padding: 2rem;
}