@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Cabin+Sketch&family=Dela+Gothic+One&display=swap');

header {
  border-bottom: solid;
  background-image: url('../img/logo_bg.jpg');
}

#mainLogo {
  font-family: 'Beth Ellen';
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 5rem;
}

#footer {
  position: fixed;
  bottom: 1.25rem;
  width: 100%;
  height: 2.5rem;
  border-top: solid;
}

#sidebar {
  float: left;
  border: solid;
  padding: 2rem;
}