@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h2>Edit</h2>

<h4>Edit this flavor: @Html.DisplayFor(model => model.Flav)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Rename this flav: ")
  @Html.EditorFor(model => model.Flav)

  <input type="submit" value="Save" class="btn btn-outline-dark" />
}